#header .header-row {
    background-color: #ffffff;
    padding: 5px 0;
}
#header .button-search {
    color: #ffffff;
    background-color: #0d977f;
}
#header .links_contact>ul>li, #header .links_contact>ul>li>a {
    color: #0d977f;
}

#header #search input
{
    background: #fff;
    color: #333;
    border-color: #0d977f;
}
#header .header-row .inner
{
    text-align: right;
}
@media all and (max-width: 991px)
{
    #header .htop, .left-top
    {
        display:none;
    }
}
#header #search input:focus {
    border-color: #0d977f;
}


#header #top-links>ul>li:hover>a, #header .links>ul>li:hover>a, #header .links_contact>ul>li>a:hover {
    text-decoration: none;opacity: 0.7;
}


#header .links_contact>ul>li .fa-phone,#header .links_contact>ul>li .fa-fax {
    font-size: 120%;
    margin-right: 5px;
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: none;
}
#form-currency:hover span, #form-language:hover .btn-link span, #header #top-links>ul>li:hover>a, #header .links>ul>li:hover>a {
    color: #0d977f;
}
#header .links > ul > li.mobile, #header .links > ul > li > a, #language span, #currency span, #header #top-links > ul > li > a, .drop-icon {
    color: #006eb7;
    text-transform: uppercase;
}


#menu {
    background-color: #444;
    border: none;
    border-radius: 0;
}